<template>
  <div class="share">
    <h1>This is a share page</h1>
    <div class="container">
      <button
        class="btn btn--fb"
        @click="shareWithFacebook"
      >
        Share FB
      </button>
      <button
        class="btn btn--tw"
        @click="shareWithTwitter"
      >
        Share Twitter
      </button>
    </div>
  </div>
</template>

<script>
import { twitterMeta, facebookMeta } from '@/core/config.js'

export default {
  name: 'Share',
  metaInfo () {
    return {
      meta: this.meta
    }
  },
  data () {
    return {
      meta: []
    }
  },
  mounted () {
    this.updateSocialMetaTags()
  },
  methods: {
    updateSocialMetaTags () {
      this.meta = [...twitterMeta, ...facebookMeta]
    },

    shareWithFacebook () {
      // eslint-disable-next-line no-undef
      FB.ui({
        method: 'share',
        href: window.location.href
      }, function (response) {
        console.log(response)
      })
    },

    shareWithTwitter () {
      window.open(`https://twitter.com/intent/tweet?url=${encodeURI(window.location.href)}`, '_blank')
    }
  }
}
</script>

<style lang="scss" scoped>
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: cornflowerblue;

    &--tw {
      margin-left: 40px;
    }
  }
</style>
